#add-1{
    display: flex;
    /* justify-content: space-evenly ; */

}

#outlined-basic{
    width: 220px;
    margin: 5%;
    color: black;
}



#add-btn{
    width: 12.5rem;
    color: white;
    border: 2px solid white;
}

#add-btn-1{
    width: 31rem;
    color: white;
    border: 2px solid white;
}